#bar {
    background-color: #eee;
    border-radius: 10px;
    border: solid 1px #ccc;
    margin-right: -5px;
    padding: 7px;
    width: 100%;
    min-width: 300px;
    min-height: 50px;
}

#bar:hover{
    background-color: white;
}

#bar .section{
    display: inline-block;
    vertical-align: middle;
}

#bar .section.select {
    padding-left: 7px;
    width: 230px;
    height: 50px;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 14px;
}



#bar-container {
    width: 90%;
    margin: 30px auto;
}

#bar input[type="text"]{
    border: 0;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: calc(90% - 35px - 114px - 15px);
}


#bar button:hover{
    color: rgb(129, 129, 129);
}

#bar .section.button{
    border: 0;
    background: transparent;
    outline: none;
    font-size: 24px;
    width: 26px;
    height: 26px;
    padding: 3px;
    float: right;
}

